REACT_APP_SERVER_TOKEN=my-secret
REACT_APP_SERVER_URL=http://localhost:3000
REACT_APP_SERVER_EMAIL=default-user-email
REACT_APP_SERVER_PASSWORD=default-user-password
REACT_APP_TRACK_FACE=false
REACT_APP_DEBUG=true
REACT_APP_SIGNALMASTER_URL=http://localhost:3002
PORT=3001
CONSUMER_KEY=key
CONSUMER_SECRET=secret
SESSION_SECRET=secret
ROOM_MAP_URL=nope
CI=false
NODE_ENV=development