* {
  max-height: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  flex-direction: column;
}

main {
  height: calc(100vh - 134px); 
  max-height: calc(100vh - 134px); 
  height: -o-calc(100vh - 134px); /* opera */
  height: -webkit-calc(100vh - 134px); /* google, safari */
  height: -moz-calc(100vh - 134px); /* firefox */
  flex: 1 1 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

aside {
  margin-left: 5px;
}

/* don't display the user video if the screen is not */
/* tall enough to display both the user and the visualiztion */
@media screen and (max-height: 620px) {
  #local-container {
    display:none;
  }
}

.remotes {
  width: 100%;
  height: 100%;
  padding-left: 325px;
}

.remotes video {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  object-fit: cover;
  padding:0;
  display: inline-block;
  width: 100%;
}

.mute {

}

a {
  color:#E68308;
}

.logo-image {
  height: auto;
  max-height: 100px;
  width: auto;
  max-width: 100%;
}

.one-to-two-remote {
  height: calc((100vh - 144px) / 1);
  height: -o-calc((100vh - 144px) / 1); /* opera */
  height: -webkit-calc((100vh - 144px) / 1); /* google, safari */
  height: -moz-calc((100vh - 144px) / 1); /* firefox */
}


.three-to-five-remote {
  height: calc((100vh - 144px) / 2);
  height: -o-calc((100vh - 144px) / 2); /* opera */
  height: -webkit-calc((100vh - 144px) / 2); /* google, safari */
  height: -moz-calc((100vh - 144px) / 2); /* firefox */
}

.six-plus-remote {
  height: calc((100vh - 144px) / 3);
  height: -o-calc((100vh - 144px) / 3); /* opera */
  height: -webkit-calc((100vh - 144px) / 3); /* google, safari */
  height: -moz-calc((100vh - 144px) / 3); /* firefox */
}

.videoContainer {
  overflow: hidden;
  padding: 0.25rem 0.75rem !important;
  margin-bottom: 10px;
}

#local-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 100%; 
}

.no-margin-top {
  margin-top: 0px !important;
}

.no-padding-top {
  padding-top: 0px !important;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

#sidebar {
  /* width required for visualization to display properly */ 
  width: 320px;
  float: left;
}

#video-overlay {
  /* required positioning for face tracking */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transform: scaleX(-1);
}
